<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="video-chat-form">
        <h2 class="text">Video Chat App</h2>
        <input id="roomName" type="text" placeholder="Room Name" name="roomName" />
        <button id="join">Join</button>
    </div>
    <div id="video-chat-rooms">
        <video id="user-video"></video>
        <video id="peer-video"></video>
        <!-- <img src="https://travelinsurance.com.ph/storage/BGC%20Office%20-%201.jpeg" alt=""> -->
    </div>
    <div class="buttons" id="btnGroup">
        <button id="mute">Mute </button>
        <button id="leave">Leave</button>
        <button id="hide-camera">Hide camera</button>
    </div>

</body>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script src="js/script.js"></script>
</html>